* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #38bdf8; */
  margin: 0;
  padding: 0;
}

/* ABOUT */

.about-container {
  background-image: url("https://images.unsplash.com/photo-1606797020447-cf605fc9e408?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fGNhbmR5fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60");
  background-size: contain;
  background-repeat: repeat;
  /* height: 100vh; */
  padding-bottom: 300px;
}

.about-primary-header {
  font-family: "Neucha", cursive;
  padding-top: 30px;
  font-size: 42px;
}
.about-secondary-header {
  font-family: "Neucha", cursive;
  margin-top: 65px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-candy-text {
  font-family: "Neucha", cursive;
  font-size: 21px;
  line-height: 1.76;
  letter-spacing: 1.28px;
}

.about-img {
  width: 180px;
  height: 185px;
  box-shadow: 8px 8px 10px rgba(81, 81, 81, 0.7);
  border-radius: 100px;
}

.home-container {
  /* background-image: url("https://images.unsplash.com/photo-1657641908545-592c2a8e3b79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"); */
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 30px;
  background-image: linear-gradient(
      rgba(42, 42, 42, 0.15),
      rgba(42, 42, 42, 0.15)
    ),
    url("https://images.unsplash.com/photo-1657641908545-592c2a8e3b79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
}

/* CART */

.cart-list {
  max-width: 300px;
}

.cart-title {
  font-family: "Neucha", cursive;
  font-weight: 600;
  text-align: center;
  color: #fafaf9;
}

.cart-h1 {
  background-color: #10b981;
  width: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cart-item {
  font-family: "Neucha", cursive;
  padding-left: 10px;
}

.cart-delete {
  width: 100%;
  height: 45px;
  background-color: #e11d48;
  border: none;
  color: #fafaf9;
  cursor: pointer;
  transition: all 0.15s;
  font-family: "Neucha", cursive;
}

.cart-delete:hover {
  background-color: #f43f5e;
}

.cart-amount {
  max-width: 50px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: #ecfdf5;
  max-height: 35px;
}

.cart-total {
  font-family: "Neucha", cursive;
}

#cart-total {
  font-weight: 600;
}

.cart-checkout {
  font-family: "Neucha", cursive;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #10b981;
}

.cart-checkout:hover {
  background-color: #34d399;
}

.cart-body {
  background: linear-gradient(white, #fda4af);
}
/* CANDY CARD CONTAINER*/

/* CANDY CARD */

.card {
  border-radius: 15px;
  overflow: hidden;
  /* border: 3px solid #065f46; */
  box-shadow: 5px 5px 10px #1f2937;
}
.card-title {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Neucha", cursive;
}

.card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #d1fae5;
  font-family: "Neucha", cursive;
}

.card__price input {
  max-width: 50px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: #ecfdf5;
}

.card-body {
  background: linear-gradient(white, #d1fae5);
}

#add-to-cart {
  width: 100%;
  height: 45px;
  background-color: #10b981;
  border: none;
  color: #fafaf9;
  cursor: pointer;
  transition: all 0.15s;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-family: "Neucha", cursive;
}

#add-to-cart:hover {
  background-color: #34d399;
}

/* NAVBAR */

.navbar {
  background-color: #10b981;
}

.navbar-brand {
  font-family: "Neucha", cursive;
  font-size: xx-large;
  font-weight: 700;
  color: #fafaf9;
}

.navbar-toggler:hover {
  background-color: #34d399;
}

.navbar-brand:hover {
  background-color: #34d399;
  border-radius: 7px;
}

.nav-item:hover {
  background-color: #34d399;
  border-radius: 7px;
}

.nav-link {
  display: flex;
  justify-content: center;
  color: #fafaf9;
  font-family: "Neucha", cursive;
  font-size: large;
}

.navbar-toggler {
  color: #fafaf9;
}

/* SEARCH */
.form {
  position: relative;
  border: none;
  padding: 30px;
}

.form .fa-search {
  position: absolute;
}

.form span {
  position: absolute;
}

.form-input {
  text-indent: 33px;
  border-radius: 10px;
  background-color: #a7f3d0;
  border: none;
}

.form-input:hover {
  background-color: #fafaf9;
}

/* FORM */
.form-page-container {
  background-image: url("../imgs/candy-imgs/alexander-grey-1wz7cN1XTmk-unsplash.jpg");
  background-size: cover;
  height: 100vh;
}

.form-content {
  font-family: "Neucha", cursive;
  font-weight: 600;
}

.form-label {
  font-family: "Neucha", cursive;
}

.form-button {
  font-family: "Neucha", cursive;
  font-weight: 600;
}

/* HALLOWEEN */

.halloween {
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 250px;
  background-image: linear-gradient(
      rgba(42, 42, 42, 0.15),
      rgba(42, 42, 42, 0.15)
    ),
    url(https://images.unsplash.com/photo-1637209697457-f88bc41d4545?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2050&q=80);
}

#confetti-wrapper {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}

.confetti:nth-child(1) {
  background-color: #fcf6b0;
  left: 10%;
  animation-delay: 0;
}

.confetti:nth-child(2) {
  background-color: #78531e;
  left: 20%;
  animation-delay: -5s;
}

.confetti:nth-child(3) {
  background-color: #e3c47a;
  left: 30%;
  animation-delay: -3s;
}

.confetti:nth-child(4) {
  background-color: #896c41;
  left: 40%;
  animation-delay: -2.5s;
}

.confetti:nth-child(5) {
  background-color: #9a5f22;

  left: 50%;
  animation-delay: -4s;
}

.confetti:nth-child(6) {
  background-color: #ddc571;
  left: 60%;
  animation-delay: -6s;
}

.confetti:nth-child(7) {
  background-color: #8a5e25;
  left: 70%;
  animation-delay: -1.5s;
}

.confetti:nth-child(8) {
  background-color: #fcdf73;
  left: 80%;
  animation-delay: -2s;
}

.confetti:nth-child(9) {
  background-color: #4f3a20;
  left: 90%;
  animation-delay: -3.5s;
}

.confetti:nth-child(10) {
  background-color: #f0e9a0;
  left: 100%;
  animation-delay: -2.5s;
}

.confetti:nth-child(11) {
  background-color: #f0e9a3;
  left: 72%;
  animation-delay: -5.5s;
}

.confetti:nth-child(12) {
  background-color: #f0e4a0;
  left: 34%;
  animation-delay: -2.8s;
}

.confetti:nth-child(13) {
  background-color: #f0c9a0;
  left: 100%;
  animation-delay: -7.5s;
}

.confetti:nth-child(14) {
  background-color: #f0b9a0;
  left: 16%;
  animation-delay: -8.5s;
}

.confetti:nth-child(15) {
  background-color: #f0b9a0;
  left: 25%;
  animation-delay: -8.5s;
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}


.fa-cart-shopping {
  padding-top: 4px;
  color: #fafaf9
}

.fa-search {
  padding-top: 10px;
  padding-left: 12px;
}


.easter {
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 250px;
  background-image: linear-gradient(
      rgba(42, 42, 42, 0.15),
      rgba(42, 42, 42, 0.15)
    ),
    url(https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1502&q=80);
}

.all {
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 250px;
  background-image: linear-gradient(
      rgba(42, 42, 42, 0.1),
      rgba(42, 42, 42, 0.1)
    ),
    url(https://images.unsplash.com/photo-1581798459219-318e76aecc7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1493&q=80);
}

.cart-page {
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 250px;
  background-image: linear-gradient(
      rgba(42, 42, 42, 0.15),
      rgba(42, 42, 42, 0.15)
    ),
    url(https://images.unsplash.com/photo-1600359746315-119f1360d663?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=988&q=80);
}

.cart-complete-text {
  background-image: url("https://images.unsplash.com/photo-1588421357937-c6dadca810cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGNhbmR5fGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
  max-width: 800px;
  height: 500px;
  border-radius: 30px;
  box-shadow: "5px 5px 10px black";
}
